
# SET UP PROXIES
function f_setProxies() {
	if [ -n "$1" ] ;then
    		f_debug "Setting proxies to $1"
	        export HTTPS_PROXY="$1"
			export HTTP_PROXY="$1"
			export http_proxy="$1"
		else
			f_debug "Unsetting proxies"
			unset HTTPS_PROXY
			unset HTTP_PROXY
			unset http_proxy
    fi
}

# NPM CONFIG
function f_resetNpmConfig() {
	if f_isset npm ;then
		f_debug "resetting npmrc config"
		rm -rf ~/.npmrc
	fi
}

function f_setNpmProxy() {
	if f_isset npm ;then
		f_debug "setting npm proxy to $1"
		npm config set proxy $1 "$@" 2>/dev/null
	fi
}

function f_setNpmRegistry() {
	if f_isset npm ;then
		f_debug "setting npm registry to $1"
		npm config set registry $1 "$@" 2>/dev/null
	fi
}

# check if a command exists
function f_isset() {
	type $1 &>/dev/null
}

# assert the command exists or exit with error
# TODO: can we just return instead
function f_assert_isset() {
	if ! f_isset $1 ;then
			f_debug "echo "$1" is not set"
		else
			exit 1
	fi
}

# echos a function if $DEBUG is set
function f_debug() {
	if [ -n "$DEBUG" ] ; then
		echo $1
	fi
}

# enable / disable debug
function f_enableDebug() {
	export DEBUG=1
}
function f_disableDebug() {
	unset DEBUG
}

# sync the current location
function lsync() {
	source ~/.location/.current 2>/dev/null
	f_debug "Setting location: $LOCATION"
	f_setLocation $LOCATION
}

# MASTER WRAPPER
function f_setLocation() {
	LOC=~/.location/.$1
	if [ -f $LOC ] ;then
			f_debug "Using $LOC"
			source "$LOC" 2>/dev/null
		else
			f_debug "Could not find '$LOC'"
			f_debug "Using .location_default"
			source ~/.location/.default 2>/dev/null
	fi
}
